<%= render 'info', user: current_user, book: @book %>

<h1>Users</h1>
<table class="table">
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= image_tag 'no_image.jpg' %></td>
      <td><%= @users.name %></td>
    </tr>
    <% end %>
  </tbody>
</table>
